*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;

}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
}

nav .logo img{
    width: 125px;
    cursor: pointer;
    margin: 30px 0;
}
 
nav u1{
    list-style: none;

}

nav u1 li{
    display: inline-block;
    margin: 0 15px;
}

nav u1 li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 30px;
    transition: 0.1s;
}

nav u1 li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #1ddf7e;
    display: block;
    transition: 0.2s linear;
}

nav u1 li a:hover::after{
    width: 100%;
}

nav u1 li a:hover{
    color: #1ddf7e;
}

nav .icon i{
    font-size: 18px;
    color: #000;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;

}

nav .icon i:hover{
    color: #1ddf7e;
}

nav .profile-dropdown{
    position: relative;
    width: fit-content;
}

nav .profile-dropdown-btn{
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-between;
    padding-right: 16px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid rgb(175, 172, 172);
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    transition: box-shadow 0.2s, background-color 0.2s;
}

nav .profile-dropdown-btn span{
    margin: 0 8px;
    margin-right: 7px;
    font-size: 18px;
}

nav .profile-dropdown-btn span i{
    display: none;
}

nav .profile-dropdown-btn:hover{
    background-color: rgb(29,223,126);
    box-shadow: var(--shadow);
}

nav .profile-img{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background: url(download\ \(2\).jpg);
}

nav .profile-img i{
    position: absolute;
    right: 0;
    bottom: 5px;
    font-size: 8px;
    color: rgb(15, 170, 15);
}

nav .profile-dropdown-list{
    position: absolute;
    top: 68px;
    width: 220px;
    right: 0;
    background-color: rgb(248, 242, 242);
    border-radius: 10px;
    box-shadow: darkgrey;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

nav .profile-dropdown-list.active{
    max-height: 500px;
}

nav .profile-dropdown-list hr{
    border: 0.5px solid green;
}

nav .profile-dropdown-list-item{
    padding: 8px 0px 8px 16px;
    transition: background-color 0.2s, padding-left 0.2s;
}

nav .profile-dropdown-list-item:hover{
    padding-left: 25px;
    background-color: #1ddf7e;
}

nav .profile-dropdown-list-item a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: var(--black);
}

nav .profile-dropdown-list-item a i{
    margin-right: 12px;
    font-size: 17px;
    width: 36px;
    height: 36px;
    background-color: var(--secondary);
    color: var(--white);
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
}




.small-container-Cart-page{
    padding: 175px 0;
}

table{
    width: 90%;
    border-collapse: collapse;
    margin-left: 80px;
    
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 10px;
    color: #fff;
    background: #1ddf7e;
    font-weight: normal;
    font-size: 20px;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    color: #1ddf7e;
    font-size: 12px;
}

td img{
    width: 200px;
    height: 200px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin-left: 60px;
}

.total-price table{
    border-top: 3px solid #1ddf7e;
    width: 100%;
    max-width: 550px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

.buy-now-btn{
    background: #1ddf7e;
    position: relative;
    left: 1250px;
    bottom: 30px;
    width: 150px;
    cursor: pointer;
    padding: 12px 25px;
}

.buy-now-btn a{
    color: #fff;
    margin-right: 5px;
    text-decoration: none;
}

.buy-now-btn i{
    color: #fff;
    transition: 0.3s;
}

.buy-now-btn:hover i{
    transform: translateX(7px);
}
