*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: #e4e4ed;
}

.form-container{
    display: flex;
    height: 98vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.form-container .form-wrap{
    background: #fff;
    width: 20%;
    padding: 15px 20px;
    border-radius: 4px;
}

.form-container .form-wrap h2{
    text-align: center;
    margin: 0px 0px 20px;
    font-size: 25px;
    font-weight: bold;
}

.form-container .form-wrap .form-box{
    margin: 0px 0px 15px;
}

.form-container .form-wrap .form-box input[type="text"] {
    padding: 5px 8px;
    border-radius: 3px;
    border: 2px solid #cccccc;
    width: 100%;
}

.form-container .form-wrap .form-box input[type="text"]:focus {
    border: 2px solid #1ddf7e;
}

.form-container .form-wrap .form-submit{
    display: flex;
    justify-content: center;
}

.form-container .form-wrap .form-submit input[type="submit"] {
    padding: 4px 10px;
    border: none;
    border-radius: 2px;
    background: #1ddf7e;
    color: #fff;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
}