@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap');


:root{

    --green: #27ae60;
    --dark-color: #219150;
    --black: #444;
    --light-color:#666;
    --border: .1rem solid rgba(0,0,0,.1);
    --border-hover: 1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: none;

}
html{
    height: 100%;
    width: 100%;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 80px;
    scroll-behavior: smooth;

}

html::-webkit-scrollbar{
    width: 1rem;

}

html::-webkit-scrollbar-track{
background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--black);
}



.btn{
    margin-top: 16px;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background: var(--dark-color);
}

.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    height: 100%;
    width: 100%;
}

.login-form-container form{
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 2rem;
}

.login-form-container form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;

}

.login-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box{
    width: 100%;
    margin: .7rem 0;
    font-size: 1.6rem;
    border: 2px solid #cccccc;
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    text-transform: none;
}

.login-form-container form .box:focus{
    border: 2px solid #1ddf7e;
}

.login-form-container form .checkbox label{
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
}

.login-form-container form .btn{
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
}

.login-form-container form p{
    padding-top: .8rem;
    color: var(--light-color);
    font-size: 1.5rem;
    font-weight: bold;
}

.login-form-container form p a{
    color: var(--green);
    text-decoration: underline;
}